body{
    /* padding: 0; */
    font: 1em sans-serif;
    margin: 20px;
    /* background-image: url(https://marketplace.canva.com/EAFCO6pfthY/1/0/1600w/canva-blue-green-watercolor-linktree-background-F2CyNS5sQdM.jpg); */
     border-radius: 8px;
     background-color: rgb(214, 170, 113);
    font-weight: lighter;
   
    
    
}
h1{
    text-align: center;
    margin: auto;
    color: black;
    text-decoration: underline ;
    
}
img{
    height: 180px;
    width: 150px;
    margin-left: 160px;
    border-radius: 50%;
    margin-top: 10px;
}

.resume{
    width: 500px;
    margin: auto;
    border-radius: 6px;
}
fieldset{
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    
  
}

legend{
    font-weight: bold;
    text-align: center;
}
button{
    display: block;
   width: 100px;
   height: 50px;
   border: 2px solid;
   border-radius: 8px;
   margin: auto;
   background-color: cadetblue;
   font-size: 15px;
}
button:hover{
    background-color: darkgray;
} 
#resumeoutput{
    border: 2px black dashed;
    height: 300px;
    width: 40%;
    margin: auto;
}
